<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Chat</title>
  <script>
    //to store the room ID from the nodeJS server in a variable
    const ROOM_ID = "<%= roomId %>"; 
    console.log(ROOM_ID);
  </script>
  <link rel="stylesheet" href="/dist/css/style.css">
  <!-- Bootstrap core CSS -->
  <link href="dist/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
  <!-- Swipe core CSS -->
  <link href="dist/css/swipe.min.css" type="text/css" rel="stylesheet">
  <!-- Favicon -->
  <link href="dist/img/favicon.png" type="image/png" rel="icon">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://kit.fontawesome.com/5a249ac277.js" crossorigin="anonymous"></script>  <!-- peerjs used to implement WebRTC which provides real time communication
  for easy peer-to-peer connection API-->
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  
  <script src="/socket.io/socket.io.js"></script>
  <!-- make sure to write 'defer' for the script.js file so that
  the script is executed when the page has finished parsing-->
  <script src="/dist/js/script.js" defer></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script> 
</head>
<body>
  <div class="layout">
  <!-- Start of Navigation -->
  <div class="navigation">
    <div class="container">
      <div class="inside">
        <div class="nav nav-tab menu">
          <button class="btn"><i class="material-icons">account_circle</i></button>
          <a href="chat.html" data-toggle="tab" ><i class="material-icons">chat_bubble_outline</i></a>
          <a href="video.html"  class="f-grow1 active"class="active"><span class="material-icons active">videocam</span></a>
          <button class="btn power" onclick="visitPage();"><i class="material-icons">power_settings_new</i></button>
        </div>
      </div>
    </div>
  </div>
<!-- End of Navigation -->

    <div class="main">
      <div class="main_left">
        <div id="main_videos" >
          <div id="video-grid" class="container-fluid">

          </div>
        </div>
        <div class="main_controls">
          <div class="main_controls_block">
            <div onclick="muteUnmute()" class="main_controls_button main_mute_button">
              <span class="material-icons">mic</span>
           </div>
           <div onclick="playStop()" class="main_controls_button main_video_button" >
            <span class="material-icons">videocam</span>
           </div>
          </div>
          <div class="main_controls_block">
            <a id="invite-button" title="Invite Friends"><span class="material-icons add_btn">person_add</span></a>
          </div>
          <div class="main_controls_block">
            <div class="main_controls_button" id="end-button">
               <span class="leave_meeting" style="font-size: 14px;">Leave Meeting</span>
            </div>
         </div>

        </div>

      </div>
      <div class="float-button"><button class="open-button" onclick="showChat()">Chat</button></div>
      <div id="chat" >
        

        <div class="main_right" style="max-width: 280px;">
          <h5 class="main_header"></h5>
          <div class="main_chat_window">
            <ul class="messages">
               
            </ul>

          </div>
          <div class="main_message_container">
            <input id="chat_message" type="text" placeholder="Type message here..." class="focus-visible" >
          </div>
        </div>

      </div>

    </div>
  </div>
<script>
  function showChat() {
  var x = document.getElementById("chat");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</body>
</html>